.yime-items {
  width: 100%;
  display: table;
  height: 30px;
  margin-top: 20px;
  margin-left: 30px;
}

.yime-items .item {
  display: table-cell;
  text-align: left;
  font-size: 12px;
  line-height: 10px;
  color: #444;
  position: relative;
}

.yime-items .outcomeSelected i, .yime-items .incomeSelected i {
  color: white;
}

.yime-items .outcomeSelected::before, .yime-items .incomeSelected::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  z-index: -1;
  top: -11px;
  left: -4px;
}

.yime-items .outcomeSelected::before {
  background-color: #fa6621;
}

.yime-items .incomeSelected::before {
  background-color: #98e566;
}