.am-picker-popup-wrap, .am-picker-popup-mask   {
  z-index: 10000;
}

.yime-create-date {
  width: 70px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #ccc;
  margin-top: 10px;
  margin-left: 10px;
  padding: 5px;
}

.yime-create-carousel {
}

.yime-create-editor .am-number-keyboard-wrapper {
  height: 260px;
}

.yime-create-editor .am-number-keyboard-wrapper table tr .am-number-keyboard-item {
  height: 65px;
}

.yime-create-price {
  margin: 0;
  position: fixed;
  bottom: 260px;
  left: 0;
  height: 44px;
  width: 100%;
  line-height: 44px;
  background-color: #f6f6f6;
  border: 1px solid #f3f3f3;
  text-align: right;
  font-size: 26px;
  padding-right: 10px;
  box-sizing: border-box;
}

.yime-create-clear {
  margin-left: 10px;
}

.yime-create-content {
  position: fixed;
  bottom: 304px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #a9a9a9;
  padding-left: 10px;
  margin: 0;
  font-size: 14px;
  font-weight: lighter;
}