.am-picker-popup-wrap, .am-picker-popup-mask   {
  z-index: 10000;
}

.yime-create-date {
  width: 66px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid #aaa;
  color: #aaa;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 13px;
  line-height: 30px;
}

.yime-create-editor .am-number-keyboard-wrapper {
  height: 180px;
}

.yime-create-editor .am-number-keyboard-wrapper table tr .am-number-keyboard-item {
  height: 45px;
}

.yime-create-price {
  margin: 0;
  position: fixed;
  bottom: 179px;
  left: 0;
  height: 38px;
  width: 100%;
  line-height: 38px;
  background-color: #f6f6f6;
  border: 1px solid #e9e9ea;
  text-align: right;
  font-size: 26px;
  padding-right: 10px;
  box-sizing: border-box;
}

.yime-create-clear {
  margin-left: 10px;
}

.yime-create-content {
  position: fixed;
  bottom: 215px;
  width: 100%;
  height: 22px;
  line-height: 22px;
  color: #a9a9a9;
  padding-left: 10px;
  margin: 0;
  font-size: 14px;
  font-weight: lighter;
}